-r requirements-apps-api.txt
-r requirements-run-codebuild.txt
./lib/asf-stac-util/
boto3==1.26.126
cfn-lint==0.77.4
flake8==6.0.0
pypgstac[psycopg]==0.7.6
pystac==1.7.3
pytest==7.3.1
requests==2.29.0
shapely==2.0.1
tqdm==4.65.0
uvicorn==0.21.1
