-r requirements-apps-api.txt
-r requirements-run-codebuild.txt
./lib/asf-stac-util/
boto3==1.35.14
cfn-lint==1.12.1
flake8==7.1.1
pypgstac[psycopg]==0.8.6
pystac==1.10.1
pytest==8.3.2
requests==2.32.3
shapely==2.0.6
tqdm==4.66.5
uvicorn==0.30.6
