name: Deploy STAC API prod

on:
  push:
    branches:
      - main

jobs:
  deploy-stac-api:
    runs-on: ubuntu-latest

    environment:
      name: asf-stac

    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/deploy-stac
        with:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          CLOUDFORMATION_ROLE_ARN: ${{ secrets.CLOUDFORMATION_ROLE_ARN }}
          DB_ADMIN_PASSWORD: ${{ secrets.DB_ADMIN_PASSWORD }}
          DB_READ_PASSWORD: ${{ secrets.DB_READ_PASSWORD }}
          CIDR_IP: ${{ secrets.CIDR_IP }}
          CERTIFICATE_ARN: ${{ secrets.CERTIFICATE_ARN }}
          STACK_NAME: asf-stac
          GITHUB_BRANCH: main
          DOMAIN_NAME: stac.asf.alaska.edu

  call-bump-version-workflow:
    needs: deploy-stac-api
    uses: ASFHyP3/actions/.github/workflows/reusable-bump-version.yml@v0.4.0
    secrets:
      USER_TOKEN: ${{ secrets.TOOLS_BOT_PAK }}
