name: Create Release

on:
  push:
    tags:
      - 'v*'

jobs:
  call-release-workflow:
    uses: ASFHyP3/actions/.github/workflows/reusable-release.yml@v0.8.1
    with:
      release_prefix: ASF STAC
    secrets:
      USER_TOKEN: ${{ secrets.TOOLS_BOT_PAK }}
